@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*
---- TYPOGRAPHY SYSTEM ----

---------> Font sizes: (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
-- Line Height:
  Default: 20px
  Medium: 80px

--Font weight:
  Default: 400
  Medium: 500
  Semi-bold: 600

--Letter Spacing:
  Default: 0.3px
  Medium: 0.7px

---Spacing (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---------> COLORS:
-Tints: 
Background color-1: #fafafa
Background color-2: #edf5f6
Background color-3: #ffeeee
Background color-4: #fff4d6
Background color-5: #ff9b9b
Background color-6: #d9d9d9
Background color-7: #eaeeef
-Shades:
Button color: #ff5959
Title color: #121212
Footer background color-6: #0b0d17
-Grays:
Text-color: #707070

---------> BORDER-RADIUS:
Default: 6px
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  /* 10 / 16 = 0.625 = 62.5%  */
  font-size: 62.5%;
}
body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}
/* -------------- HEADER -------------- */
.header {
  height: 90vh;
  margin-bottom: 10vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)
    ),
    url(img/images/donation-1.jpg);
  /* background-position: center; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-title {
  display: block;
  text-align: center;
  font-size: 7.4rem;
  color: #fff;
  letter-spacing: -0.7px;
  line-height: 8rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
}
.header-text {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  line-height: 3.2rem;
}
.btn {
  display: block;
  background-color: #ff5959;
  text-decoration: none;
  color: #fff;
  padding: 1.6rem 3.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  width: 32rem;
  margin: 3.2rem auto;
  border-radius: 0.6rem;
  transition: all 0.2s ease-out;
}
.btn:hover {
  box-shadow: 0 0 1rem #ff9b9b;
}

/* -------------- DONATE SECTION -------------- */
.donate-title {
  font-size: 6.2rem;
  text-align: center;
  margin: 12.8rem 0 1.3rem;
}
.text {
  font-size: 1.8rem;
  text-align: center;
  color: #707070;
  line-height: 3.2rem;
}
.amount-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3.2rem 9.6rem;
}
.amount-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
  height: 14rem;
  width: 16rem;
  background-color: #fafafa;
  border-radius: 0.6rem;
}
.amount-box li {
  color: #707070;
  list-style: none;
  font-size: 3.6rem;
  font-weight: 600;
}
#selected-box {
  background-color: #ffeeee;
  border: 0.3rem solid #ff5959;
}
#selected-box li {
  color: #ff5959;
}
.amount-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.amount-input {
  outline: none;
  width: 90rem;
  display: block;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1.2rem 0;
  border-bottom: 2.5px solid #d4d4d4;
  text-align: center;
  margin-bottom: 1.2rem;
}

/* -------------- DONATE PLAN SECTION -------------- */
.plan-title {
  font-size: 6.2rem;
  text-align: center;
  margin: 12.8rem 0 1.3rem 0;
}
.plan-text {
  font-size: 1.8rem;
  text-align: center;
  color: #707070;
  line-height: 3.2rem;
  margin: 0 8rem;
}
.plan-boxes {
  display: flex;
  justify-content: center;
  margin: 3.2rem;
}
.plan-box {
  width: 38rem;
  height: 38rem;
  margin: 1.6rem;
  border-radius: 0.6rem;
}
.plan-icon {
  margin: 6.4rem 0 3.2rem 2.4rem;
}
.plan-subtitle {
  font-size: 3rem;
  margin-left: 2.4rem;
  text-align: left;
}
.plan-subtext {
  font-size: 1.8rem;
  text-align: center;
  color: #707070;
  line-height: 3.2rem;
  text-align: left;
  margin: 1.6rem 2.4rem;
}
#plan-box1 {
  background-color: #edf5f6;
}
#plan-box2 {
  background-color: #ffeeee;
}
#plan-box3 {
  background-color: #fff4d6;
}
/* -------------- CONTRIBUTE SECTION -------------- */
.contribute-container {
  background-color: #eaeeef;
  padding: 5rem;
  margin-top: 12.8rem;
}
.contribute-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contribute-box {
  width: 50rem;
  height: 52rem;
  margin: 2.4rem;
  background-color: #fff;
  border-radius: 0.6rem;
}
.contribute-box img {
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 0 0rem;
  border-radius: 0.6rem;
}
.contribute-title {
  text-align: center;
  font-size: 3.6rem;
  margin: 3.2rem 1.6rem 1.6rem;
}
.contribute-text {
  color: #707070;
  text-align: center;
  font-size: 1.6rem;
  padding: 0 3.2rem 2.4rem;
}

/* -------------- GET UPDATE SECTION -------------- */
.update-title {
  font-size: 6.2rem;
  text-align: center;
  margin: 12.8rem 0 1.3rem 0;
}
.update-text {
  font-size: 1.8rem;
  text-align: center;
  justify-content: center;
  color: #707070;
  line-height: 3.2rem;
  margin: 3.2rem 8rem;
}
.input-mail-box {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff4d6;
  border-radius: 0.6rem;
  margin: 1.6rem 30rem;
}
.input-mail {
  display: block;
  outline: none;
  font-family: inherit;
  background-color: #edf5f6;
  padding: 1.4rem 1.6rem;
  font-size: 2.4rem;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border: 2px solid #ff5959;
}
.btn-subscribe {
  display: block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  background-color: #ff5959;
  color: #edf5f6;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  transition: all 0.2s ease-out;
}
.btn-subscribe:hover {
  color: #fff;
  background-color: #cc4747;
}

/* -------------- FOOTER -------------- */
.footer {
  height: 20rem;
  background-color: #0b0d17;
  margin-top: 12.8rem;
}
.footer-title {
  padding-top: 3.2rem;
  color: #ff5959;
  font-size: 6.2rem;

  text-align: center;
  font-family: 'Satisfy', cursive;
}
.footer-text {
  color: #fafafa;
  text-align: center;
  padding-top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
}
